
$brand-color:rgb(97, 181, 158);
$primary: $brand-color;


@import '../bootstrap/scss/functions';
@import '../bootstrap/scss/variables';
@import '../bootstrap/scss/bootstrap.scss';

label.form-label{
  font-weight: bolder;
  font-size: 16px;
}

input.form-control{
  background-color: #F3F4F9;
}

.welcome-msg{
  // Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
  font-size: 1rem;
 }

 @media (max-width : 991px){
   font-size: 2rem;
 }
 
 @media (min-width:992px){
   font-size: 4rem;
 }
  // font-size: 1rem;
  font-weight: 800;
}

.usecase-options{
  text-align: center;
  img{
    margin: 16px 0 16px;
  }
}
  
  // $theme-colors: map-merge($theme-colors, $frinfra-colors);

